body,
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #333;
    div {
        border-bottom: 1px solid #555;
        width: 50%;
    }
}
